<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ef909d">  <td>21/04/02 17:17:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CepTest.cepInexistente()[pri:0, instance:br.com.apitest.CepTest@87f383f]">cepInexistente</td> 
  <td>main@876213901</td>   <td></td> </tr>
<tr bgcolor="ef909d">  <td>21/04/02 17:17:28</td>   <td>3933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CepTest.cepInvalido()[pri:0, instance:br.com.apitest.CepTest@87f383f]">cepInvalido</td> 
  <td>main@876213901</td>   <td></td> </tr>
<tr bgcolor="ef909d">  <td>21/04/02 17:17:29</td>   <td>4537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CepTest.cepValido()[pri:0, instance:br.com.apitest.CepTest@87f383f]">cepValido</td> 
  <td>main@876213901</td>   <td></td> </tr>
</table>
